force-app/main/default/flows/Schedule_Property_Visit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateTask</name>
        <label>CreateTask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>EmailAlert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>NewVisit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>NewVisit</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FeedItem.NewTaskFromFeedItem</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailAlert</name>
        <label>EmailAlert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>EmailAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>VisitCustomer.recordName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>NewVisit</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Schedule Property Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Property Visit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Visit</name>
        <label>Create Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>NewVisit</assignRecordIdToReference>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>VisitProperty.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Date__c</field>
            <value>
                <elementReference>Visit_Date_and_time</elementReference>
            </value>
        </inputAssignments>
        <object>Property_Visit__c</object>
    </recordCreates>
    <screens>
        <name>Visit_Details</name>
        <label>Visit Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Visit</targetReference>
        </connector>
        <fields>
            <name>Visit_Date_and_time</name>
            <dataType>DateTime</dataType>
            <fieldText>Visit Date and time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VisitProperty</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>VisitProperty.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>property</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>VisitProperty.recordName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>VisitCustomer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>VisitProperty.recordName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Visit_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewVisit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_Visit</elementReference>
        </value>
    </variables>
</Flow>
